//Header Section
header{
    height: 14vh;
    background-image: linear-gradient(to bottom right, white, white);
}

.top_page{
    height: 46vh;
    background-image: url(../img/top_page.png);
    background-position: center;
}