.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .trier{
        max-width: 60%;
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;

        &_input{
            display: none;

            &:checked + .trier_label{
                background-color: $green;
                color: white;
            }
        }

        &_label{
            text-align: center;
            background-color: $gray-blue;
            color: black;
            text-transform: none;
            font-weight: $regular;
            padding: .5rem 1rem;
            min-width: 5rem;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}
